@import "../base/variables";

.horariosLocal{
    font-family: 'Bebas Neue', cursive;
    font-weight: 50px;
    position: fixed;
    bottom: 5%;
    right: 3%;
    text-align: center;
    font-size: 17px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 10px;
    box-shadow: -9px 10px 5px 0px rgba(224,96,27,0.75);
    -webkit-box-shadow: -9px 10px 5px 0px rgba(224,96,27,0.75);
    -moz-box-shadow: -9px 10px 5px 0px rgba(224,96,27,0.75);
    transition-duration: 2s;
    @media screen and (max-width: 680px){
        &{
            display: none;
        }
    }
    &:hover{
        transform: scale(1.20);
    }
    div{
        color: $color-terciario;
    }
}

