@import "../base/variables";

.mainAcercaDe{ 
    .acercaDeNosotros{
        background-color: $color-secundario;
        h1{
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        margin-bottom: 10px;
        }
    }
    div {
        display: flex;
        justify-content: center;
    }
    .nuestraHistoria{
            color: $color-terciario;
            background-color: rgba(0, 0, 0, 0.5);
            padding-right: 10px;
            font-family: 'Abel', sans-serif;
            font-size: 2rem;
            padding-left: 10px;
            padding-right: 10px;
        }
    .imagenContacto {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}  